{% load compress django_htmx static %}

<!DOCTYPE html>
<html lang="vi"
      {% if not user.is_authenticated %}class="form-screen"{% endif %}>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="" />
        <!-- Favicon -->
        <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
        <meta name="description" content="Admin One - free Tailwind dashboard">
        {% load static %}
        <title>Ry-ro |
            {% block title %}
                Trang chủ
            {% endblock title %}
        </title>
        {% compress css %}
            <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
            {% block css %}
            {% endblock css %}
        {% endcompress css %}
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
        <script defer src="{% static 'js/htmx.min.js' %}"></script>
        {% compress js %}
            {% block javascript %}
            {% endblock javascript %}
        {% endcompress js %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div id="app">
            {% if user.is_authenticated %}
                {% include "navbar.html" %}
                {% include "aside.html" %}
                {% include "title-bar.html" %}
                {% include "hero-bar.html" %}
                <section class="section main-section">
                    {% block content %}
                    {% endblock content %}
                </section>
                {% include "footer.html" %}
            {% endif %}
            {% block auth %}
            {% endblock auth %}
        </div>
        {% compress js inline %}
            <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% endcompress %}
        {% block modal %}
        {% endblock modal %}
        {% block inline_javascript %}
        {% endblock inline_javascript %}
        {% django_htmx_script %}
    </body>
</html>
